
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display:block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        -webkit-animation-name: moveInLeft;
    
                animation-name: moveInLeft;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
    }
    
    &--sub{
        display:block;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1.78rem;
        -webkit-animation:  moveInRight;
                animation:  moveInRight;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        
    }
}